<!-- /*************************************************************************************
 * WEB322 - 2237 Project
 * I declare that this assignment is my own work in accordance with the Seneca Academic
 * Policy. No part of this assignment has been copied manually or electronically from
 * any other source (including web sites) or distributed to other students.
 *
 * Student Name  : Jigar Patel
 * Student ID    : 118005172
 * Course/Section: WEB322 NEE
 *
 **************************************************************************************/ -->
<!-- Footer -->
<footer class="footer">
  <div class="footer__container">
    <div class="footer__section">
      <h3 class="footer__title">Contact</h3>
      <p class="footer__info footer__email">
        <a href="mailto:info@travelsite.com">info@glampbnb.com</a>
      </p>
    </div>
    <div class="footer__section">
      <h3 class="footer__title">Social</h3>
      <div class="footer__social">
        <!-- All logos sourced from https://www.svgrepo.com/-->
        <a href="https://www.instagram.com/"
          ><img
            class="footer__social__logo"
            src="/assets/Icons/instagram.svg"
            alt="Instagram logo"
        /></a>
        <a href="https://www.facebook.com/"
          ><img
            class="footer__social__logo"
            src="/assets/Icons/facebook.svg"
            alt="Facebook logo"
        /></a>
        <a href="https://www.twitter.com/"
          ><img
            class="footer__social__logo"
            src="/assets/Icons/twitter.svg"
            alt="Twitter logo"
        /></a>
      </div>
    </div>
  </div>
  <div class="footer__copyright">
    <p>
      By submitting this assignment I declare that this assignment is my own
      work in accordance with the Seneca Academic Policy. No part of this
      assignment has been copied manually or electronically from any other
      source (including web sites) or distributed to other students.
    </p>
    <p>©Jigar Patel, jdpatel22@myseneca.ca, WEB322 Fall 2023</p>
  </div>
</footer>
<!-- End of Footer -->
