<!-- /*************************************************************************************
 * WEB322 - 2237 Project
 * I declare that this assignment is my own work in accordance with the Seneca Academic
 * Policy. No part of this assignment has been copied manually or electronically from
 * any other source (including web sites) or distributed to other students.
 *
 * Student Name  : Jigar Patel
 * Student ID    : 118005172
 * Course/Section: WEB322 NEE
 *
 **************************************************************************************/ -->
 
<main>
  <!-- Hero Section -->
  <section class="hero">
    <div class="hero__container">
      <div class="hero__title">
        <h1>Glampbnb</h1>
        <p>
          Experience the beauty of Ontario outdoors with luxury like home.
        </p>
        <button class="hero__button">Get Started</button>
      </div>
      <div class="hero__img">
        <!-- logo sourced from https://www.svgrepo.com/-->
        <img
          src="./assets/Images/hero-logo.svg"
          alt="Image of a plane around globe"
        />
      </div>
    </div>
  </section>
  <!-- End of Hero Section -->

  <!-- Rentals Section -->
  <section class="recommended-rentals">
    <div class="recommended__title">
      <h2>Recommended Rentals</h2>
    </div>
    <div class="recommended__container">
      <% featuredRentals.forEach(function(rental) { %>
      <!-- Include the rental partial and pass the rental object as a variable -->
      <%- include('../partials/rental', { rental: rental }) %>
      <% }); %>
    </div>
  </section>
  <!-- End of recommended Rentals Section -->
  <!-- Features Section -->
  <section class="features">
    <div class="features__title">
      <h1>Features</h1>
    </div>
    <div class="features__container">
      <div class="feature">
        <!-- logo sourced from https://www.svgrepo.com/-->
        <img src="./assets/icons/peace.svg" alt="Peace of Mind Icon" />
        <h3>Peace of Mind</h3>
        <p>Experiences are curated just for you.</p>
      </div>
      <div class="feature">
        <!-- logo sourced from https://www.svgrepo.com/-->
        <img
          src="./assets/icons/privacy.svg"
          alt="Privacy Like Home Icon"
        />
        <h3>Privacy Like Home</h3>
        <p>Enjoy the privacy and comfort of a home.</p>
      </div>
      <div class="feature">
        <!-- logo sourced from https://www.svgrepo.com/-->
        <img src="./assets/icons/money.svg" alt="More for Less Icon" />
        <h3>More for Less</h3>
        <p>Best value with our affordable options.</p>
      </div>
      
    </div>
  </section>
  <!-- End of Features Section -->
</main>