<!-- rentals.ejs -->
<div class="rentals-container">
  <h1 class="rentals-headline">Rental Listings</h1>

  <% allRentals.forEach((rentalGroup) => { %>
  <h2><%= rentalGroup.cityProvince %></h2>
  <div class="rental-grid">
    <% rentalGroup.rentals.forEach((rental) => { %> <%-
    include('../partials/rental', { rental: rental }) %> <% }) %>
  </div>
  <% }) %>
</div>
