<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/rentals.css" />
    <link rel="stylesheet" href="/css/signup.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/welcome.css" />
    <link rel="stylesheet" href="/css/load-data-outcome.css" />
    <link rel="stylesheet" href="/css/clerk-dashboard.css">
    <link
      rel="shortcut icon"
      href="/assets/Icons/favicon.svg"
      type="image/x-icon"
    />
    <title>Glampbnb</title>
  </head>
  <body>
    <%- include('../partials/navbar', { user: user }) %>

    <div class="content">
      <!-- This is where the content from other templates will be inserted -->
      <%- include(`../views/${content}`) %>
    </div>

    <%- include('../partials/footer') %>
  </body>
</html>
