/* Style for the login container */
.login-container {
  max-width: 400px;
  margin: 10rem auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-container h1 {
  color: #333;
}

/* Style for form elements */
.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-group label input[type="radio"] {
  margin-right: 5px;
}

/* Style for the centered button */
.centered-button {
  text-align: center;
  margin-top: 10px;
}

.btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Style for the signup link */
p {
  text-align: center;
  margin-top: 15px;
}

a {
  text-decoration: none;
  color: #007bff;
}

/* Hover effect for the "Login" button */
.btn:hover {
  background-color: #0056b3;
}

/* Login error */
.error-message {
  padding: 1px 1px;
  color: red;
  font-size: 12px;
}

.role-options {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
 }
 
 .role-option {
  display: flex;
  align-items: space-evenly;
  justify-content: flex-start;
  flex-direction: row;
 }

 input[type="radio"] {
  width: fit-content;
  margin-right: 15px;
  margin-bottom: 5px;
 }